body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {}

.App__count {
    border: 4px solid red;
    padding: 7px;
    margin: 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.TestForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.TestForm>div {
    border: 2px solid #000;
}